#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:pink;
  border-radius: 5%;
}

.submission_error {
  color: red;
}

.authentication_error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-left: .5em;
}

.username {
  margin: .5em;
}

.password {
  margin: .5em;
}

.submit_button {
  margin: .5em;
}